* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container__header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5em;
}

.container__winner {
  margin: 10px 0;
}

.container__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  border: 1px black solid;
}

.container__board__square {
  width: 75px;
  aspect-ratio: 1 / 1;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 800;
  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
}

.container__board__square p {
  margin: 20px 0 10px 0;
}
